<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все книги</title>
</head>
<body>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
</div>

<br/>
<hr/>

<form action="/books/new" >
    <button>Добавить новую книгу</button>
</form>
<br/>
<form action="/index.jsp" >
    <button>Меню</button>
</form>

<style>
    body {
        background-image: url("https://img.freepik.com/free-photo/beautiful-arrangement-of-different-books_23-2148883798.jpg?w=1380&t=st=1718610402~exp=1718611002~hmac=77cd8337fdd6e9a87c5c593a6a15e2bc61b8a2b3ce43445fae8d86ce2a55e470");
        background-size: 100%;
    }
</style>
</body>



</html>
